body {
    background-color: cadetblue;
}

.style {
    width: 900px;
}

.block {
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 54px;
    color: #12CBC4;
}

h2 {
    font-size: 44px;
    color: #0652DD;
}
h3 {
    font-size: 34px;
    color: #6F1E51;
}

p {
    font-size: 28px;
}

li {
    font-size: 28px;
    color: #d84806;
}