body {
    background-color: cadetblue;
}

.style {
    text-align: center;
}

h1 {
    font-size: 54px;
    color: #12CBC4;
}

h2 {
    font-size: 44px;
    color: #0652DD;
}

p {
    font-size: 28px;
}

li {
    font-size: 28px;
    color: #d84806; 
}

